@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'barlow';
    src: url('./fonts/barlow/BarlowCondensed-MediumItalic.ttf');
}

* {
    font-family: montserrat;
}

body {
    color:black;
}

h3 {
    font-family: barlow;
}

.homepage {
    height: 92vh;
    width: 95vw;
    margin: 40px 60px 0 50px;
    box-shadow: 0 0 30px grey;
}

.menuItem {
    background-color: yellow;
    position: relative;
    cursor:pointer;
    display: inline-block;
    margin:0px 1.4vw;
    border-radius: 15%;
    width: 17.3%;
    height: 90%;
    border: 0 solid green;
    box-shadow: 0 0 30px grey;
    transition: border 0.3s;
}

.menuItemPicked {
    border: 0.2vw solid yellow;
}

#coctailMenu::-webkit-scrollbar {
    width:10%;
    color:black;
}

.coctailImage {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius:15%;
}


/*GLASSES*/
#coctailGlass {
    top: 15%;
    right: 29.2%;
}

#coctailContent1 {
    height:23%;
    margin-top: 20vh;
    clip-path: polygon(16% 0%, 33% 70%, 46% 100%, 54% 100%, 73% 50%, 84% 0%);
}

#highGlass {
    top: 12%;
    right: 32%;
    width: 20%;
}

#coctailContent2 {
    height: 60%;
    margin-top: 20vh;
    clip-path: polygon(25.1% 0%, 74.3% 0%, 67% 140%, 32% 100%);
}

#oldGlass {
    left: 44%;
    top: 30%;
    width: 27%;

}

#coctailContent3 {
    height: 25%;
    margin-top: 33vh;
    clip-path: polygon(21% 0%, 73% 0%, 71% 100%, 23% 100%);
}

#arrow1 {
    transform: rotate(-130deg);
    left: 17%;
}