@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'barlow';
    src: url('./fonts/barlow/BarlowCondensed-MediumItalic.ttf');
}

* {
    font-family: montserrat;
}

body {
    color:black;
}

h3 {
    font-family: barlow;
}

.homepage {
    height: 92vh;
    width: 95vw;
    margin: 40px 60px 0 50px;
    box-shadow: 0 0 30px grey;
}

.menuItem {
    background-color: rgb(0, 0, 0);
    position: relative;
    cursor:pointer;
    display: inline-block;
    margin:0px 1.4vw;
    border-radius: 15%;
    width: 17.3%;
    height: 90%;
    border: 0 solid;
    box-shadow: 0 0 30px grey;
    transition: border 0.3s;
}

.menuItemPicked {
    border: 0.2vw solid white;
}

#cocktailMenu::-webkit-scrollbar {
    width:10px;
    height: 0.75rem;
    cursor: pointer;
}

#cocktailMenu::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
  }

.cocktailImage {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius:15%;
}



/*GLASSES*/
#cocktailGlass {
    top: 15%;
    right: 29.2%;
}

#cocktailContent1 {
    height:23%;
    margin-top: 20vh;
    clip-path: polygon(16% 0%, 33% 70%, 46% 100%, 54% 100%, 73% 50%, 84% 0%);
}

#highGlass {
    top: 12%;
    right: 32%;
    width: 20%;
}

#cocktailContent2 {
    height: 60%;
    margin-top: 20vh;
    clip-path: polygon(25.1% 0%, 74.3% 0%, 67% 140%, 32% 100%);
}

#oldGlass {
    left: 44%;
    top: 30%;
    width: 27%;

}

#cocktailContent3 {
    height: 25%;
    margin-top: 33vh;
    clip-path: polygon(21% 0%, 73% 0%, 71% 100%, 23% 100%);
}

#arrow1 {
    transform: rotate(-130deg);
    left: 17%;
    width: 33%;
}


/*ANIMATION*/

.ingredientBox {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0%;
    transition: height 4s;
}

:where(#cocktailContent3) .ingredientName {
    margin-right: 5%;
}

/*INGREDIENT LIST*/

.ingredientListItem {
    /*color: rgb(190, 24, 93);*/
    color: grey;
    font-size: 1.5rem;
    text-wrap:nowrap;
    margin-bottom: 6%;
    padding-bottom: 2%;
    border-bottom: 3px dotted grey;
}